<p>Job: 
  <%= @client_seek[:heading] %></p>

<p><b><u>About me</u></b></p>
<p>Name:
  <%= @client_seek[:name] %></p>
<p>Mobile number:
  <%= @client_seek[:mobile_number] %></p>
<p>Email:
  <%= @client_seek[:email] %></p>
<p>State:
  <%= @client_seek[:state] %></p>

<p><b><u>I'm referring a tutor</u></b></p>
<p>Name:
  <%= @client_seek[:tutor_name] %></p>
<p>Mobile number:
  <%= @client_seek[:tutor_mobile_number] %></p>
<p>Email:
  <%= @client_seek[:tutor_email] %></p>
<p>Age:
  <%= @client_seek[:age] %></p>
<p>Gender:
  <%= @client_seek[:gender] %></p>
<p>Service Area:
  <%= @client_seek[:service_area] %></p>

<p>Availability:
  <%= @client_seek[:availability] %></p>
<p>Experience:
  <%= @client_seek[:experience] %></p>
<p>Subjects:
  <%= @client_seek[:subjects] %></p>
<p>Levels:
  <%= @client_seek[:levels] %></p>
