<p><b><u>About the tutor</u></b></p>
<p>Name:
  <%= @client_seek[:name] %></p>
<p>Age:
  <%= @client_seek[:age] %></p>
<p>Gender:
  <%= @client_seek[:gender] %></p>
<p>Mobile number:
  <%= @client_seek[:mobile_number] %></p>
<p>Home number:
  <%= @client_seek[:home_number] %></p>
<p>Email:
  <%= @client_seek[:email] %></p>
  
<p><b><u>About the tuition</u></b></p>
<p>State:
  <%= @client_seek[:state] %></p>
<p>Service Area:
  <%= @client_seek[:service_area] %></p>
<p>Subjects:
  <%= @client_seek[:subjects] %></p>
<p>Levels:
  <%= @client_seek[:levels] %></p>
<p>Availability:
  <%= @client_seek[:availability] %></p>
<p>Tutoring Requirement or Preferences:
  <%= @client_seek[:requirements] %></p>
