<p>Name:
  <%= @support[:name] %></p>
<p>Email:
  <%= @support[:email] %></p>
<p>Phone:
  <%= @support[:phone] %></p>
<p>Subject:
  <%= @support[:subject] %></p>
<p>Message:
  <%= @support[:message] %></p>