<p><b><u>About the visitor</u></b></p>
<p>Title:
  <%= @tutor_seek[:title] %></p>
<p>Name:
  <%= @tutor_seek[:name] %></p>
<p>Mobile number:
  <%= @tutor_seek[:mobile_number] %></p>
<p>Home number:
  <%= @tutor_seek[:home_number] %></p>
<p>Email:
  <%= @tutor_seek[:email] %></p>
<p>Reason:
  <%= @tutor_seek[:reason] %></p>
  
<p><b><u>About the tuition</u></b></p>
<p>State:
  <%= @tutor_seek[:state] %></p>
<p>Service Area:
  <%= @tutor_seek[:service_area] %></p>
<p>Subjects:
  <%= @tutor_seek[:subjects] %></p>
<p>Levels:
  <%= @tutor_seek[:levels] %></p>
<p>Number of students:
  <%= @tutor_seek[:num_students] %></p>
<p>Tutoring Requirement or Preferences:
  <%= @tutor_seek[:requirements] %></p>
