<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutor_seek.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tutor_seek.name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @tutor_seek.mobile_number %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @tutor_seek.home_number %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @tutor_seek.reason %>
</p>

<p>
  <strong>State:</strong>
  <%= @tutor_seek.state %>
</p>

<p>
  <strong>Service area:</strong>
  <%= @tutor_seek.service_area %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @tutor_seek.subjects %>
</p>

<p>
  <strong>Level:</strong>
  <%= @tutor_seek.level %>
</p>

<p>
  <strong>Num students:</strong>
  <%= @tutor_seek.num_students %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @tutor_seek.requirements %>
</p>

<%= link_to 'Edit', edit_tutor_seek_path(@tutor_seek) %> |
<%= link_to 'Back', tutor_seeks_path %>
