<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @support.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @support.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @support.phone %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @support.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @support.message %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
