<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="brand" src="<%= image_path('logo.png') %>">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="topbar">
        <div class="navbar-right">
          <a href="#" class="btn open-ClientModal" data-toggle="modal" data-target="#applyNowModal">SEND ME JOBS</a>          
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#job" rel="anchor">Jobs</a></li>
          <li>
            <% if "#{request.fullpath}" == "/how" %>
              <a href="#how" rel="anchor">How it works</a>
            <% else %>
              <a href="/how">How it works</a>
            <% end %>          
          </li>
          <li><a href="/how#faq" rel="anchor">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="referTutorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_for(@client_seek) do |f| %>                
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header ta-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="inverted rt-header">Refer a tutor</h2>
        </div>
        <div class="modal-body copy">
          <div class="row">
            <div class="col-md-4">
              <strong class="section_heading_title">About you</strong>
              <%= f.hidden_field :heading, :value => 'Contact me about matching jobs.' %>
              <%= f.label :name %>
              <%= f.text_field :name, :required => true, :pattern => '.{3,}', 
                                      :title => 'Minimum 3 characters' %>
              <%= f.label :mobile_number %>
              <%= f.text_field :mobile_number, :required => true, :pattern => '\d*', 
                                               :title => 'No spaces between numbers' %>
              <%= f.label :email %>
              <%= f.text_field :email, :required => true, 
                                       :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
              <%= f.label :state %>
              <%= f.select :state, ['WP Kuala Lumpur', 'WP Labuan', 'WP Putrajaya', 'Selangor', 'Pulau Pinang', 'Melaka', 'Perak', 
                                    'Negeri Sembilan', 'Johor', 'Perlis', 'Kedah', 'Pahang', 'Terengganu', 'Kelantan', 'Sabah', 
                                    'Sarawak'], { :include_blank => '-- Please select --' }, :required => true %>
            </div>
            <div class="col-md-8"><strong class="section_heading_title">About the tutor whom you are referring</strong></div>
            <div class="col-md-4">          
              <%= f.label :tutor_name, 'Name' %>
              <%= f.text_field :tutor_name, :required => true, :pattern => '.{3,}', 
                                            :title => 'Minimum 3 characters' %>          
              <%= f.label :tutor_mobile_number, 'Mobile number' %>
              <%= f.text_field :tutor_mobile_number, :required => true, :pattern => '\d*', 
                                                     :title => 'No spaces between numbers' %>
              <%= f.label :tutor_email, 'Email' %>
              <%= f.text_field :tutor_email, :required => true, 
                                             :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>              
              <%= f.label :age %>
              <%= f.text_field :age, :required => true, :pattern => '\d*', 
                                     :title => 'No spaces between numbers' %>
              <%= f.label :gender %>
              <%= f.select :gender, ['Male','Female'], { :include_blank => '-- Please select --' }, :required => true %>
              <%= f.label :service_area, 'Preferred service area' %>
              <%= f.text_field :service_area %>
            </div>
            <div class="col-md-4">
              <%= label_tag :multi_availability, 'Availability' %>
              <%= select_tag :multi_availability, "<option>MON - Morning (8am-2pm)</option><option>MON - Afternoon (2pm-6pm)</option><option>MON - Evening (6pm-10pm)</option><option>TUE - Morning (8am-2pm)</option><option>TUE - Afternoon (2pm-6pm)</option><option>TUE - Evening (6pm-10pm)</option><option>WED - Morning (8am-2pm)</option><option>WED - Afternoon (2pm-6pm)</option><option>WED - Evening (6pm-10pm)</option><option>THU - Morning (8am-2pm)</option><option>THU - Afternoon (2pm-6pm)</option><option>THU - Evening (6pm-10pm)</option><option>FRI - Morning (8am-2pm)</option><option>FRI - Afternoon (2pm-6pm)</option><option>FRI - Evening (6pm-10pm)</option><option>SAT - Morning (8am-2pm)</option><option>SAT - Afternoon (2pm-6pm)</option><option>SAT - Evening (6pm-10pm)</option><option>SUN - Morning (8am-2pm)</option><option>SUN - Afternoon (2pm-6pm)</option><option>SUN - Evening (6pm-10pm)</option>".html_safe, { :multiple => true } %>
              <%= f.hidden_field :availability %>
              <%= f.label :experience, 'Experience' %>
              <%= f.select :experience, ['Up to 5 years','6-10 years','11-15 years','16-20 years','21-25 years','26-30 years','Over 30 years'], { :include_blank => '-- Please select --' } %>
              <%= f.label :subjects %>
              <%= f.text_area :subjects, :rows => "6" %>
              <%= f.label :levels, 'Levels (i.e. Std 1-Form 6, degree, etc.)' %>
              <%= f.text_area :levels, :rows => "4" %>
<!--               <%= f.label :requirements, 'Tutoring Requirement or Preferences' %>
              <%= f.text_area :requirements, :rows => "16" %> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ul class="errorMessages"></ul>
          <%= button_tag "SUBMIT", class: "btn expand spin" %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<div id="applyNowModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_for(@client_seek) do |f| %>                
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header ta-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="inverted rt-header">Apply Now</h2>
        </div>
        <div class="modal-body copy">
          <div class="row">
            <div class="col-md-4">
              <strong class="section_heading_title">About you</strong>
              <%= f.hidden_field :heading, :value => 'Contact me about matching jobs.' %>
              <%= f.label :name %>
              <%= f.text_field :name, :required => true, :pattern => '.{3,}', 
                                      :title => 'Minimum 3 characters' %>
              <%= f.label :mobile_number %>
              <%= f.text_field :mobile_number, :required => true, :pattern => '\d*', 
                                               :title => 'No spaces between numbers' %>
              <%= f.label :email %>
              <%= f.text_field :email, :required => true, 
                                       :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>                    
              <%= f.label :age %>
              <%= f.text_field :age, :required => true, :pattern => '\d*', 
                                     :title => 'No spaces between numbers' %>
              <%= f.label :gender %>
              <%= f.select :gender, ['Male','Female'], { :include_blank => '-- Please select --' }, :required => true %>
            </div>
            <div class="col-md-8"><strong class="section_heading_title">About the tuition</strong></div>
            <div class="col-md-4">   
              <%= f.label :state %>
              <%= f.select :state, ['WP Kuala Lumpur', 'WP Labuan', 'WP Putrajaya', 'Selangor', 'Pulau Pinang', 'Melaka', 'Perak', 
                                    'Negeri Sembilan', 'Johor', 'Perlis', 'Kedah', 'Pahang', 'Terengganu', 'Kelantan', 'Sabah', 
                                    'Sarawak'], { :include_blank => '-- Please select --' }, :required => true %>
              <%= f.label :service_area, 'Preferred service area' %>
              <%= f.text_field :service_area, :required => true %>
              <%= f.label :subjects %>
              <%= f.text_area :subjects, :required => true, :rows => "6" %>
              <%= f.label :levels, 'Levels (i.e. Std 1-Form 6, degree, etc.)' %>
              <%= f.text_area :levels, :required => true, :rows => "4" %>
            </div>
            <div class="col-md-4">
              <%= label_tag :multi_availability, 'Availability' %>
              <%= select_tag :multi_availability, "<option>MON - Morning (8am-2pm)</option><option>MON - Afternoon (2pm-6pm)</option><option>MON - Evening (6pm-10pm)</option><option>TUE - Morning (8am-2pm)</option><option>TUE - Afternoon (2pm-6pm)</option><option>TUE - Evening (6pm-10pm)</option><option>WED - Morning (8am-2pm)</option><option>WED - Afternoon (2pm-6pm)</option><option>WED - Evening (6pm-10pm)</option><option>THU - Morning (8am-2pm)</option><option>THU - Afternoon (2pm-6pm)</option><option>THU - Evening (6pm-10pm)</option><option>FRI - Morning (8am-2pm)</option><option>FRI - Afternoon (2pm-6pm)</option><option>FRI - Evening (6pm-10pm)</option><option>SAT - Morning (8am-2pm)</option><option>SAT - Afternoon (2pm-6pm)</option><option>SAT - Evening (6pm-10pm)</option><option>SUN - Morning (8am-2pm)</option><option>SUN - Afternoon (2pm-6pm)</option><option>SUN - Evening (6pm-10pm)</option>".html_safe, { :multiple => true } %>
              <%= f.hidden_field :availability %>
              <%= f.label :experience, 'Experience' %>
              <%= f.select :experience, ['Up to 5 years','6-10 years','11-15 years','16-20 years','21-25 years','26-30 years','Over 30 years'], { :required => true, :include_blank => '-- Please select --' } %>
              <%= f.label :requirements, 'Tutoring Requirement or Preferences' %>
              <%= f.text_area :requirements, :rows => "13" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ul class="errorMessages"></ul>
          <%= button_tag "SUBMIT", class: "btn expand spin" %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<div id="postJobModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_for(@tutor_seek) do |f| %>                
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header ta-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="inverted rt-header">I'm looking for tutors</h2>
        </div>
        <div class="modal-body copy">
          <div class="row">
            <div class="col-md-4">
              <strong class="section_heading_title">About you</strong>
              <%= f.label :title %>
              <%= f.select :title, ['Mr', 'Ms', 'Mdm', 'Mrs'], { :include_blank => '-- Please select --' }, :required => true %>
              <%= f.label :name %>
              <%= f.text_field :name, :required => true, :pattern => '.{3,}', 
                                      :title => 'Minimum 3 characters' %>
              <%= f.label :mobile_number %>
              <%= f.text_field :mobile_number, :required => true, :pattern => '\d*', 
                                               :title => 'No spaces between numbers' %>
              <%= f.label :home_number %>
              <%= f.text_field :home_number, :required => true, :pattern => '\d*', 
                                       :title => 'No spaces between numbers' %>
              <%= f.label :email %>
              <%= f.text_field :email, :required => true, 
                                       :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
              <%= f.label :reason, 'I’m looking for a tutor for' %>
              <%= f.select :reason, ['Myself', 'My friend', 'My client'], { :include_blank => '-- Please select --' }, 
                                    :required => true %>
            </div>
            <div class="col-md-4">
              <strong class="section_heading_title">About the tuition</strong>
              <%= f.label :state %>
              <%= f.select :state, ['WP Kuala Lumpur', 'WP Labuan', 'WP Putrajaya', 'Selangor', 'Pulau Pinang', 'Melaka', 'Perak', 
                                    'Negeri Sembilan', 'Johor', 'Perlis', 'Kedah', 'Pahang', 'Terengganu', 'Kelantan', 'Sabah', 
                                    'Sarawak'], { :include_blank => '-- Please select --' }, :required => true %>
              <%= f.label :service_area, 'Preferred service area' %>
              <%= f.text_field :service_area, :required => true, :pattern => '.{3,}', 
                                              :title => 'Minimum 3 characters' %>
              <%= f.label :subjects %>
              <%= f.text_area :subjects, :rows => "4", 
                                              :required => true, :pattern => '.{2,}', 
                                              :title => 'Minimum 2 characters' %>
              <%= f.label :levels, 'Levels (i.e. Std 1-Form 6, degree, etc.)' %>
              <%= f.text_area :levels, :rows => "2", 
                                              :required => true, :pattern => '.{3,}', 
                                              :title => 'Minimum 3 characters' %>
              <%= f.label :num_students, 'Number of students' %>
              <%= f.select :num_students, ['1', '2', '3', '4', '5 or more'] %>
            </div>
            <div class="col-md-4">
              <strong class="section_heading_title">&nbsp;</strong>
              <%= f.label :exam_date, 'Examination date (if applicable)' %>
              <%= f.text_field :exam_date, :type => 'date' %>
              <%= f.label :requirements, 'Tutoring Requirement or Preferences' %>
              <%= f.text_area :requirements, :rows => "16" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ul class="errorMessages"></ul>
          <%= button_tag "SUBMIT", class: "btn expand spin" %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<div id="supportModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_for(@support) do |f| %>                
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ta-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="inverted rt-header">ReferTutor help center</h2>
        </div>
        <div class="modal-body copy">
          <div class="row">
            <div class="col-md-6">
              <%= f.label :name %>
              <%= f.text_field :name, :required => true, :pattern => '.{3,}', 
                                      :title => 'Minimum 3 characters' %>
              <%= f.label :email %>
              <%= f.text_field :email, :required => true, 
                                       :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
              <%= f.label :phone %>
              <%= f.text_field :phone, :required => true, :pattern => '\d*', 
                                       :title => 'No spaces between numbers' %>
            </div>
            <div class="col-md-6">
              <%= f.label :subject %>
              <%= f.text_field :subject, :required => true, :pattern => '.{2,}', 
                                         :title => 'Minimum 2 characters' %>
              <%= f.label :message %>
              <%= f.text_area :message, :rows => "4", 
                                              :required => true, :pattern => '.{3,}', 
                                              :title => 'Minimum 3 characters' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ul class="errorMessages"></ul>
          <%= button_tag "SUBMIT", class: "btn expand spin" %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<% content_for :foot do %>

  <script type="text/javascript">

    // Easing when Anchor link is clicked
    $("[rel='anchor']").click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
          && location.hostname == this.hostname
        ) {
        var $target = $(this.hash);
        $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
        if ($target.length) {
          var targetOffset = $target.offset().top;
          $('html,body')
          .animate({scrollTop: targetOffset}, {duration: 1000, easing: 'easeInOutExpo'});
          return false;
        }
      }
    });

    function goToAnchor() { 
      hash = document.location.hash;
      if (hash) {
          window.location.href = hash;
      }
    }

    // Fix when turbolink retains previous scroll position
    function scrollTop() {
      setTimeout(function() {
        window.scrollTo(0, 0);
        goToAnchor();
      }, 0);
    }

    // Button spinner    
    jq1101('.spin').on('click', function(event) {
      $this = jq1101(this);
      $this.buttonspinner('start');
      setTimeout(function() {
        $this.buttonspinner('stop');
      }, 3000);
    });
    jq1101('.spin').buttonspinner();

    // Grouped form errors
    var createAllErrors = function() {

      var form = $( this ),
          errorList = $( "ul.errorMessages", form );

      var showAllErrorMessages = function() {
        errorList.empty();

        // Find all invalid fields within the form.
        var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

          // Find the field's corresponding label
          var label = $( "label[for=" + node.id + "] "),
              // Opera incorrectly does not fill the validationMessage property.
              message = node.validationMessage || 'Invalid value.';

          errorList
            .show()
            .append( "<li><span>" + label.html() + ":</span> " + message + "</li>" );
        });

        form.find( ":invalid" ).first().focus();
      };

      $( "input[type=submit], button:not([type=button])", form )
          .on( "click", showAllErrorMessages);

      $( "input", form ).on( "keypress", function( event ) {
        var type = $( this ).attr( "type" );
        if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
          && event.keyCode == 13 ) {
            showAllErrorMessages();
        }
      });
    };
    $( "form" ).each( createAllErrors );

    // Webshims
    $.webshims.setOptions('basePath', '/webshims/shims/');
    $.webshims.activeLang("en-AU");
    $.webshims.polyfill('forms forms-ext');

  </script>  

<% end %>

<% content_for :document_ready do %>
 
  $(this).updatePolyfill();

  jq183('#applyNowModal #multi_availability').multipleSelect({
    width: '100%',
    maxHeight: '500px',
    placeholder: '-- Please select --',
    onClose: function() {   
      jq183("#applyNowModal #client_seek_availability").val(jq183('#applyNowModal #multi_availability').multipleSelect('getSelects'));
    }
  });     

  jq183('#referTutorModal #multi_availability').multipleSelect({
    width: '100%',
    maxHeight: '500px',
    placeholder: '-- Please select --',
    onClose: function() {   
      jq183("#referTutorModal #client_seek_availability").val(jq183('#referTutorModal #multi_availability').multipleSelect('getSelects'));
    }
  });          

<% end %>