<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReferTutor - Refer a tutor. Get paid.</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <%= content_for?(:head) ? yield(:head) : '' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= content_for?(:foot) ? yield(:foot) : '' %>

    <script type="text/javascript">

      // Fix when turbolink retains previous scroll position
      function scrollTop() {
        setTimeout(function() {
          window.scrollTo(0, 0);
          goToAnchor();
        }, 0);
      }

      $(document).ready(function(){
        <%= yield(:document_ready) %>
      });

      $(window).load(function(){
        scrollTop();
        <%= yield(:window_load) %>
      });
    
    </script>  

  </body>
</html>
